<h1>All Shelters</h1>



<section class="shelter_list">
  <% @shelters.each do |shelter| %>
    <div class="shelter">
      <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}", class: "shelter_name" %>
      <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", id: "update-shelter-#{shelter.id}",  class: "update_shelter" %>
      <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", id: "delete-shelter-#{shelter.id}",  class: "delete_shelter", method: :delete %>
    </div>
  <% end %>
</section>

<footer>
  <%= link_to "New Shelter", "/shelters/new", class: "shelter_name" %> <br>
  <%= link_to "Sort by Number of Adoptable Pets", "/shelters?order_by_num_adopatable=true" %> <br>
  <%= link_to "Sort by Shelter Name", "/shelters?order_by_name=true" %>
</footer>
