<h1><%= @shelter.name %></h1>
<h2>
  <%= @shelter.address %>,
  <%= @shelter.city %>,
  <%= @shelter.state %>
  <%= @shelter.zip %>
</h2>

<section class="reviews">
  <h2>Reviews</h2>
    <% @shelter.reviews.each do |review| %>
      <div>
        <%= review.title %>
        <%= "Rating:#{review.rating}" %>
        <%= review.content %>
        <%= review.image_path %>
        <%= link_to "Update Review", "/reviews/#{review.id}/edit", id: "update_review_#{review.id}" %>
        <%= link_to "Delete Review", "/reviews/#{review.id}", id: "delete_review_#{review.id}", method: :delete %>
      </div>
    <% end %>
</section>

<%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new" %>
<br>
<%= link_to "All Pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %>
<br>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", id: "update-shelter-#{@shelter.id}"%>
<br><br>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
