<h1>Application</h1>

<h2>
  <%= @application.name %>
</h2>

<h3>
  <%= @application.address %>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip %>
</h3>

<h4>
  <%= @application.phone_number %>
</h4>

<p>
  Description: <%= @application.description %>
</p>

<section class="application_pets">
  <h4>Pets: </h4>
  <% @application.pets.each do |pet| %>
    <section class="pet-<%= pet.id%>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <%= if pet.adoption_status == true
          link_to "Approve Application", "/applications/#{@application.id}/pets/#{pet.id}/pending", method: :patch
        else
          "#{pet.name} has been adopted"
        end %>
    </section>
  <% end %>
</section>
