<h2>Favorite Pets</h2>

<%= link_to "Clear Favorites", "/favorites", method: :delete %>

<%= "You have not favorited any pets" if favorites.total_count == 0 %>
<div class="pets_list">
  <% @pets.each do |pet| %>
    <ul class="pet_profile" id="pet_<%= pet.id %>">
      <img src="<%= "#{pet.image_path}" %>" alt="pet image" class="pet_index_image">
      <li>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}"%></li>
      <li><%= link_to "Remove From Favorites", "/favorites/#{pet["id"]}", method: :delete %></li>
      <li><%= link_to "Delete Pet", "/pets/#{pet.id}", id: "delete-pet-#{pet.id}", method: :delete %></li>
    </ul>
    <br>
  <% end %>
  <%= link_to "Adopt Favorite Pets", "/applications/new"%>
</div>


<section class="application_pet_list">
  <h3>Pets Applied For: </h3>
  <ul>
  <% @application_pets.each do |pet| %>
    <li class="application_pet_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    </li>
  <% end %>
</ul>
</section>

<section class="approved_pets">
   <h3>Approved Pets: </h3>
   <ul>
     <% @application_pets.each do |pet| %>
      <li>
        <% if pet.has_pending_application %>
          <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        <% end %>
      </li>
     <% end %>
   </ul>
</section>
