<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Pets", "/pets", class: :nav_links %>
      <%= link_to "All Shelters", "/shelters", class: :nav_links %>
    </nav>
    <%= yield %>
  </body>
</html>
